@import './../assets/colors';

//classes
.center__content {
  margin: 20% 0;
  text-align: center;
}

h1 {
  font-weight: 100;
  letter-spacing: 1rem;
}

button {
  background: transparent;
  border: 1px solid $black;
  padding: 1rem 1rem 1rem 2rem;
  color: $black;
  letter-spacing: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s background-color;
  &:hover {
      color: $white;
      background-color: $black
  }
}
