/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'material-icons/iconfont/material-icons.css';
@import './assets/colors';

h1, h2, h3, h4, h5, button, p{
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $white;
    color: $black;
}